<h3>Create a contact</h3>
<form name="editForm" novalidate ng-submit="addContact()" class="form-horizontal">
	<div class="form-group"> 
	    <label for="firstName" class="col-sm-4 control-label">First name</label>
	    <div class="col-sm-8">
	    	<input type="text" name="firstName" ng-model="contact.firstName" class="form-control" required>
	    </div>
	</div>

	<div class="form-group">
		<label for="lastName" class="col-sm-4 control-label">Last name</label>
		<div class="col-sm-8">
			<input type="text" name="lastName" ng-model="contact.lastName" class="form-control" required>
		</div>
	</div>

	<div class="form-group">
		<label for="phoneNumber" class="col-sm-4 control-label">Phone number</label>
		<div class="col-sm-8">
			<input type="text" name="phoneNumber" ng-model="contact.phoneNumber" class="form-control" pattern="[0-9]{10}" required>
		</div>
		<span class="error" ng-show="editForm.phoneNumber.$error.pattern">Invalid phoneNumber</span><BR>
	</div>

	<div class="form-group">
		<label for="email" class="col-sm-4 control-label">Email</label>
		<div class="col-sm-8">
			<input type="email" name="email" ng-model="contact.email" class="form-control" required>
		</div>
		<span class="error" ng-show="editForm.email.$error.email">Invalid email format</span><BR>
	</div>

	<div class="form-group">
		<label for="birthday" class="col-sm-4 control-label">Birthday</label>
		<div class="col-sm-8">
			<input type="date" name="birthday" ng-model="contact.birthday" placeholder="yyyy-MM-dd" min="1900-01-01" max="2050-12-31" class="form-control" required />
		</div>
		<span class="error" ng-show="editForm.birthday.$error.date">Invalid date format</span><BR>
	</div>

	<br>
	<button type="submit" ng-disabled="editForm.$invalid">Add this contact</button>
	<br>
	<a class="btn" ng-href="#/list">Back</a>
</form>