<div class="row marketing" style="margin-top:0px" ng-controller="ListCtrl">
  <h3>My contact list</h4>
  
    <form class="form-horizontal">
      <div class="form-group">
        <label for="searchText" class="col-sm-offset-2 col-sm-4 control-label">Search by last name</label>
        <div class="col-sm-4" style="padding-left:0px">
          <input ng-model="searchText" name="searchText" class="form-control">
        </div>  
      </div>

      <div class="form-group">
        <div class="col-sm-6 control-label">
        <label>Order by</label>
        </div>
        <div class="col-sm-offset-6">
          <div class="radio" class="col-sm-6">
            <label for="rbOrderByAsc">
              <input type="radio" name="rbOrderByAsc" ng-model="rbOrderBy" value="+lastName" checked>
              Last name ASC
            </label> 
          </div>
          <div class="radio" class="col-sm-6">
            <label for="rbOrderByDesc">
              <input type="radio" name="rbOrderByDesc" ng-model="rbOrderBy" value="-lastName">
              Last name DESC
            </label> 
          </div>
        </div>
      </div>
    </form>

    <table class="table">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="contact in contacts | orderBy:rbOrderBy | filter:searchText">
          <td><a href="#/detail/{{contact.id}}">{{contact.firstName}}</a></td>
          <td><a href="#/detail/{{contact.id}}">{{contact.lastName}}</a></td>
        </tr>
      </tbody>
    </table>
</div>
